.authContainer {
  width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
  padding-bottom: 40px; 
}

.authToggle {
  margin-bottom: 20px; 
}

.authToggle button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.authToggle button:hover {
  background-color: #0056b3;
}

.authForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative; 
  padding-bottom: 20px; 
}

.authForm input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.authForm button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; 
  margin-bottom: 20; 
  width: 80%; 
  align-self: center; 
}

.authForm button:hover {
  background-color: #218838;
}
